<style>
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    th, td {
      text-align: center;
      padding: 15px;
    }
  
    th {
      background-color: #f2f2f2;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    td {
      background-color: #fff;
      font-size: 1.1rem;
      border: 1px solid #ccc;
    }
  
    tr:hover {
      background-color: #f2f2f2;
    }
  
  </style>

<h2>Users Table</h2>
 <table class="table">
   <thead>
     <tr>
       <th>Name</th>
       <th>Email</th>
       <th>Zip Code</th>
       <th>Edit</th>
       <th>Delete</th>
     </tr>
   </thead>
   <tbody>
     <% users.forEach(user => { %>
     <tr>
        <td>
            <a href="<%= `/users/${user._id}` %>">
              <%=user.fullName%>
            </a>
          </td>       
       <td><%= user.email %></td>
       <td><%= user.zipCode%></td>
       <td><a href="<%= `/users/${user._id}/edit` %>">Edit</a></td>
       <td><a href="" onclick="if (confirm('Are you sure you want to delete this user?')) { window.location.href = '<%= `/users/${user._id}/delete` %>' }">Delete</a></td>
    </tr>
     <% }); %>
   </tbody>
 </table>

 <br>
 <a href="<%=`/users/new`%>"><b>Create New User</b></a>
 